:root {
  --green: #6ac142;
  --dark-text: #343e51;
  --gray-text: #a0a6af;
  --light-gray: rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/roboto-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/roboto-bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto-slab";
  src: url("../fonts/roboto-slab.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex-direction: column;
}

.courses-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.courses-top-background {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-image: url("../images/white-brick-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.courses-top-background h2 {
  color: var(--dark-text);
  font-size: 48px;
  font-family: "roboto-slab";
}

.courses-main-content {
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.position-on-site-block {
  display: flex;
  width: 100%;
  height: auto;
  padding: 26px 15px;
  align-items: center;
  gap: 6px;
}
.position-on-site-block p,
.position-on-site-block a {
  font-family: "roboto-regular";
  font-size: 16px;
}
.position-on-site-block a {
  color: var(--dark-text);
  cursor: pointer;
}
.position-on-site-block p {
  color: var(--gray-text);
}
.position-on-site-block i {
  font-size: 10px;
  color: var(--dark-text);
}

.courses-main-container {
  display: grid;
  grid-template-columns: 390px 780px;
  grid-template-rows: auto auto;
  margin-top: 70px;
}

.left-content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 100%;
}

.search-panel-block {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 40px;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 3px;
}
.search-panel-block input {
  width: auto;
  flex: 1;
  height: 100%;
  outline: 0;
  border: 0;
  font-size: 14px;
}
.search-panel-block .search-icon-box {
  display: flex;
  cursor: pointer;
}
.search-panel-block .search-icon-box i {
  font-size: 14px;
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.decoration-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
}
.decoration-heading .heading-text {
  font-size: 20px;
  color: var(--dark-text);
  font-family: "roboto-slab";
}
.decoration-heading .decoration {
  width: 100%;
  height: auto;
}
.decoration-heading .decoration .green-line {
  width: 70px;
  height: 3px;
  background-color: var(--green);
}
.decoration-heading .decoration .gray-line {
  flex: 1;
  height: 1px;
  background-color: var(--light-gray);
}

.title-block-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0 10px 0;
}
.title-block-options a {
  font-family: "roboto-regular";
  color: var(--darkgray-text);
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}
.title-block-options a:hover {
  color: var(--green);
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.filter-items {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.price-item {
  display: flex;
  width: 100%;
  height: auto;
  margin: 30px 0 25px 0;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.price-item .price {
  width: auto;
  display: flex;
  gap: 5px;
  align-items: center;
}
.price-item .price p {
  font-size: 20px;
  color: var(--dark-text);
  font-family: "roboto-regular";
}
.price-item button {
  width: 85px;
  height: 40px;
  background-color: var(--green);
  font-size: 13px;
  font-family: "roboto-regular";
  color: white;
  padding: 1px 6px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s ease;
}
.price-item button:hover {
  background-color: #59a137;
}

.filter-volume {
  display: flex;
  width: 100%;
  height: auto;
}
.filter-volume .gray-volume {
  display: flex;
  width: 100%;
  background-color: var(--light-gray);
  height: 3px;
  padding-left: 8px;
}
.filter-volume .gray-volume .green-volume {
  width: 90%;
  background-color: var(--green);
  display: flex;
  height: 100%;
  position: relative;
}
.filter-volume .gray-volume .green-volume .volume-circle {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--green);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.filter-volume .gray-volume .green-volume .volume-left-circle {
  left: -1%;
}
.filter-volume .gray-volume .green-volume .volume-right-circle {
  right: -1%;
}

.selection-block {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid var(--light-gray);
  margin-top: 32px;
  border-radius: 3px;
}
.selection-block select {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: 0;
  outline: 0;
  background-color: #f7f7f7;
}
.selection-block option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  padding: 0px 2px 1px;
}

.tags-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.tags-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.tags-items a {
  background-color: #f7f7f7;
  display: inline-block;
  font-size: 12px;
  color: #625b66;
  text-transform: uppercase;
  padding: 11px 25px;
  margin: 4px 2px;
  transition: color 0.3s ease;
  font-family: "roboto-medium";
  font-weight: 500;
}
.tags-items a:hover {
  background-color: #6ac142;
  color: white;
}

.right-content {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: auto;
}

.block-navigation {
  width: 780px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.sorting-block {
  width: 455px;
  height: auto;
  display: flex;
  align-items: center;
}

.sorting-item {
  border: 1px solid #ecedee;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-right: 16px;
}
.sorting-item form {
  display: block;
}
.sorting-item form select {
  outline: 0;
  border: 0;
}
.sorting-item form select option {
  font-family: "roboto-regular";
}

.view-item {
  border: 1px solid #ecedee;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-right: 16px;
}
.view-item form {
  display: block;
}
.view-item form label {
  font-family: "roboto-regular";
  font-size: 14px;
}
.view-item select {
  outline: 0;
  border: 0;
  font-family: "roboto-regular";
  font-size: 14px;
}

.sorting-type-block {
  display: flex;
  align-items: center;
  width: 325px;
}

.sorting-img {
  display: flex;
  gap: 30px;
  flex: 1;
  padding-left: 15px;
}
.sorting-img img {
  width: 27px;
  height: 27px;
  opacity: 0.8;
}

.pages-control {
  display: flex;
  align-items: center;
  color: #252525;
  gap: 8px;
  width: 129px;
}
.pages-control > div {
  border: 1px solid var(--light-gray);
  font-weight: 400;
  font-size: 14px;
  font-family: "roboto-regular";
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages-control p {
  font-weight: 400;
  font-size: 14px;
  font-family: "roboto-regular";
}
.pages-control img {
  width: 16px;
  height: 16px;
  margin-left: 22px;
}

.classes-price-container {
  display: grid;
  grid-template-columns: 390px 390px;
  padding-top: 30px;
}

.price-item-block {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 15px;
}

.price-item-bordered {
  border: 1px solid var(--light-gray);
  height: 478px;
  width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.image-container {
  display: flex;
  width: 100%;
  height: 243px;
}
.image-container img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */